.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header h1 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 36px;
  opacity: 0.7;
  text-align: center;
}
.App footer {
  font-size: small;
  padding: 20px;
}
