.dictionary-phonetics .phonetics-text {
  padding: 0 8px 0 0;
  opacity: 0.5;
}
.dictionary-phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.dictionary-phonetics a:hover {
  background-color: #8ea5eb;
}
